{% extends 'base.html' %}
{% load crispy_forms_tags %} 
{% block content %}

<div class="container-fulid user-styling">
    <div class="container">
        <div class="row post-se">
            <div class="col-lg-4">
              <h1 class="heading-style-1">Add Clinic info</h1>
              <p>
                <span style="font-weight: 600;">Note: </span>
                <span style="color: rgb(114, 114, 114);"><a href="{% url 'clinic_list' %}">Click here</a> to check already added clinic</span>
            </p>
                <p>
                    <span style="font-weight: 600;">Note: </span>
                    <span style="color: rgb(114, 114, 114);">If the clinic is already exist you can update the infomation or can add quantity on <a href="{% url 'clinic_list' %}">the list</a></span>
                </p>
            </div>
            <div class="col-lg-8">
                <div class="form-style-card">
                    <form action="." method="POST" class="form">
                        {% csrf_token %}
                        {{ form.clinic_name|as_crispy_field }}
                        
                        <div class="row mt-3">
                            <div class="form-group col-md-6">
                                {{ form.address_line_one|as_crispy_field }}                                
                            </div>
                            <div class="form-group col-md-6">
                                {{ form.address_line_two|as_crispy_field }}                                
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="form-group col-md-4">
                                {{ form.postal_code|as_crispy_field }}                                
                            </div>
                            <div class="form-group col-md-4">
                                {{ form.city|as_crispy_field }}                                
                            </div>
                            <div class="form-group col-md-4">
                                {{ form.provinces|as_crispy_field }}                                
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="form-group col-md-6">
                                {{ form.phone_code|as_crispy_field }}                                
                            </div>
                            <div class="form-group col-md-6">
                                {{ form.phone_number|as_crispy_field }}                                
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="form-group col-md-12">
                                {{ form.website|as_crispy_field }}                                
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="form-group col-md-6">
                                {{ form.opening_time|as_crispy_field }}                                
                            </div>
                            <div class="form-group col-md-6">
                                {{ form.closing_time|as_crispy_field }}                                
                            </div>
                        </div>
                      
                        <button type="submit" class="btn btn-success mt-3">Save Vaccine</button>
                    </form>
                </div>
            </div>
            
        </div>
    </div>
</div>

{% endblock content %}
