{% extends 'base.html' %}
{% load crispy_forms_tags %} 
{% block content %}

<div class="container-fulid user-styling">
    <div class="container">
        <div class="row post-se">
            <div class="col-lg-4">
              <h1 class="heading-style-1">Thing that our landing page will have ;)</h1>
            </div>
            <div class="col-lg-8">
                <p><strong>#FOR LANDING PAGE</strong></p>
                <p># what you must bring alongwith you while visiting pharmacy or vaccine centre (mandatory things 1)</p>
                <p># Services(2)</p>
                <p># Doctor information(3)</p>
                <p># About pharmacy ambience or environment (4)</p>
                <p># Donation box(money, blood, clothes and food) (4)</p> 
     
    
    
            </div>
            
        </div>
    </div>
</div>

{% endblock content %}
