/* GENERAL STYLING */
.heading-style-1 {
    /* font-family: apple-system !important; */
    font-size: 3em !important;
    letter-spacing: 5px;
    font-weight: 100;
}

.userBtn{
    border: 2px solid #084fb9;
    border-radius: 10px;
    background: #0d6efd;
    color: white;
    font-size: 1.2em;
    font-weight: 500;
    padding: 5px 20px;
}
.userBtn:hover{
    background: #053781;
    
}



.user-styling {
    margin-top: 70px;
}
.user-logo{
    margin-top: 50px;
    margin-bottom: 10px;
    border: 1px solid #d8d6d6;
    border-radius: 10px;
    text-align: center;
}
.user-logo .user-logo-body{
    color: #6c757d;
}
.user-logo .user-logo-img img{
    margin-top: -40px;
}

/* main index contant style start here */
.card{
    border-radius: 12px;
}
.card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.cart-style .icon-n-data{
    color: #afacac;
}
.cart-style a:hover{
    text-decoration: none;
}
.cart-style a h5{
    color: rgb(34, 34, 34);
}
.cart-style a h5 span{
    color: #6c757d;
}
.cart-style .note-nav{
    float: right;
}

.header-section{
    /* background-color: rgb(245, 245, 245); */
    text-align: center;
    padding: 30px;
}
.header h1{
    font-size: 48px;
    font-weight: 100;
}